@font-face {
    font-family: obelixprob;
    src: url(./ObelixProB-cyr.ttf);
}
html,body{
    background: whitesmoke;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1{
    border: 1px solid skyblue;
    background-color: blue;
    height: 350px;
    width: 250px;
    border-top-left-radius: 20% ;
    border-top-right-radius: 20% ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 100px;

}

.circle2{
    border: 1px solid blue;
    background-color: skyblue;
    height: 100px;
    width: 245px;
    border-radius: 100%;
    margin-top: -20px;
    margin-left: 1px;
}

.circle3{

    border: 1px solid skyblue;
    background-color: skyblue;
    height: 250px;
    width: 110px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 250px;

}

.circle4{
    /* border: 1px solid blue; */
    background-color: white;
    height: 180px;
    width: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 30%;
    margin-left: -1px;
    padding: 5px;
    margin-top: 30px;
}

.circlea{
    /* border: 1px solid blue; */
    background-color: white;
    height: 90px;
    width: 230px;
    border-radius: 100%;
    margin-top: 4px;
    margin-left: 6px;
}

p{
    font-family: obelixprob;
    font-size: 40px;
    margin-top: 0px;  
    text-align: center; 
    animation: space 3s linear infinite;
    animation: lights 800ms linear infinite ;
    
}
.gm{
    font-size: 8px;
    margin-top: -220px;
    text-align: center;  
}
h1{
    font-family: obelixprob;
    font-size: 20px;
    margin-top: -40px;
    text-align: center; 
    animation: space2 3s linear infinite;
    /* animation: slo 2s linear infinite; */
}

@media (max-width:425px){
    .head{

        width: 300px;
        /* text-align: center; */
    }
}
@media (max-width:375px){
    .head{

        width:250px;
        /* text-align: center; */
    }
}
@media (max-width:360px){
    .head{

        width:232px;
        /* text-align: center; */
    }
}


@keyframes slo {
    0%{
        margin-bottom: 0px;
        /* margin-right: 0px; */
    }
    50%{
        margin-bottom: 20px;
        
    }
    100%{
        margin-bottom: 0px;
        /* margin-right: 0px; */
    }
}

@keyframes lights {
    0%{
    
        color: yellow;

    }
    50%{
    
        color: red;

    }
    100%{
    
        color: yellow;
    }
}

@keyframes space {
    0%{
        letter-spacing: 0px;
        color: red;
    }
    
    50%{
        letter-spacing: 0px;
        color: gold;
    }

    100%{
        letter-spacing: 0px;
        color: yellow ;
    }
    
}

@keyframes space2 {
    0%{
        letter-spacing: 0px;
        color: yellow;
    }
    50%{
        letter-spacing: 10px;
        color:greenyellow;
    
    }
    100%{
        letter-spacing: 0px;
        color: red;
    }
    
}